/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .menu-icon {
    display: flex;
    align-items: center;
}

.header .menu-icon img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header .title {
    font-size: 24px;
}

.header .menu-links {
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
}

.header .menu-links a {
    margin-right: 2px;
    padding-left: 3vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header .menu-links a:hover {
    color: #007BFF; /* Cor de destaque */
}

/* Estilo do contêiner da página */
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do título da página */
.container h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo do formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="file"]:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #fff;
}

/* Estilo do botão */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo da foto de perfil */
#currentPhoto img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    display: block; 
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo responsivo */
@media (max-width: 600px) {
    .header .menu-links a {
        font-size: 14px;
        margin-left: 10px;
    }

    .container {
        padding: 15px;
    }

    .container h2 {
        font-size: 24px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}

a {
    color: black;
    text-decoration: none;
}