body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.product-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-image {
    flex: 1;
    padding: 10px;
    width: 15vh; /* ou qualquer tamanho que você preferir */
    height: 35vh; /* preserva a proporção da imagem */
    max-width: 100%; /* para que a imagem não ultrapasse o contêiner */
}

.product-details {
    flex: 2;
    padding: 10px;
}

.product-title {
    font-weight: bold;
    font-size: 1.2em;
}

.product-price {
    color: green;
    font-size: 1.1em;
}

.product-location,
.product-description {
    color: #666;
    margin-top: 5px;
}

.ad-card {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    max-width: 800px;
}

.ad-image {
    flex: 0 0 150px;
    margin-right: 20px;
}

.ad-details {
    flex: 1;
}

.ad-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.ad-details p {
    margin: 5px 0;
}

.ad-details button {
    margin-right: 10px;
}