/* João 05/08 - vh (unidade que supostamente auxilia na responsividade, favor se forem alterar algo
buscar utilizar ou vh ou %*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #747577;
}
a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}
.header .menu {
    display: flex;
    align-items: center;
}

.header .menu .title {
    text-align: center;
}
.header .profile-icon {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.header .menu-icon img {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 0%;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}
.header .menu-links a {
    margin-right: 2px;
    padding-left: 3vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header .menu-links a:hover {
    text-decoration: none;
}
.header .title {
    font-weight: bold;
}
.profile-container {
    display: flex;
    align-items: center;
    position: relative;
}
.profile-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-right: 1vh;
}
.profile-tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 30%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
.profile-tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 90%;
    left: 95%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.profile-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.profile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 200px;
    z-index: 10;
}
.profile-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}
.profile-menu a:last-child {
    border-bottom: none;
}
.profile-menu a:hover {
    background-color: #f0f0f0; 
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #86888b;
    min-height: 90vh;
}
.container .card {
    background-color: white;
    border-radius: 10px;
    width: 45%;
    min-height: 10vh;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.container .card img {
    width: 100%;
    height: 100%;
    align-items: center;
}
.container .card .details {
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    text-align: center;
    opacity: 0;
}
.container .card:hover .details {
    transform: translateY(0);
    opacity: 1;
}
.container .card .details p {
    margin-top: 10px;
    font-size: 1.2em;
    max-width: 100%;
    word-wrap: break-word;
}
.container .card p {
    font-size: 1.2em;
    margin: 0;
}
@media (min-width: 600px) {
    .container .card {
        width: 20%;
        margin: 10px;
    }
}
.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}
.search-bar button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.sn-header {
    display: flex;
    justify-content: center;
    margin: 20px 20vh;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 251, 251);
    font-family: "Arial";
    font-size: 40px;
}

.container-sobre{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #86888b;
    min-height: 90vh;
}
.container-sobre .card-sobre {
    background-color: white;
    border-radius: 10px;
    width: 100vh;
    min-height: 10vh;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    margin-left: 45vh;
    justify-content: center;
}
.container-sobre .card-sobre h1{
    color: black;
    text-align: center;
    padding: 2%;
    background-color: #e7e7e7;
    border-radius: 10px;
    text-justify: center;
    height: fit-content;
    width: fit-content;
    display: flex;
}
.container-sobre .card-lateral {
    background-color: rgb(173, 171, 171);
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    width: 30vh;
    height: 90vh;
    position: absolute;
    right: 131vh;
}
.container-sobre .card-lateral img {
    max-width: 25vh;
    max-height: 25vh;
    padding-left: 8%;
    padding-top: 10%
}
.linha {
    background-color: #86888b; /* Cor da linha */
    height: 2px; /* Espessura da linha */
    width: 100%; /* Ocupa toda a largura do contêiner */
    margin: 5px 0; /* Espaçamento acima e abaixo da linha */
    position: absolute;
    top: 11vh;
    right: 0vh;
}
.card-sobre p{
    position: absolute;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
    top: 11vh;

}

.card-lateral a {
    display: block;
}

li {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    background-color: #dddddd; /* Cor padrão */
    border-radius: 5px;
    width: 90%;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animação suave no hover */
}

li:hover {
    background-color: #a3c9e9; /* Cor ao passar o mouse */
}

li.selected {
    background-color: #a3c9e9; /* Cor do item selecionado */
}

/* LOGIN -------------------------------------------------- LOGIN */

        /* Estilos adicionais para a tela de login/cadastro */
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .login-card {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        .login-card h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .login-card input {
            width: 94%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-card button {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .login-card button:hover {
            background-color: #555;
        }

        .login-card .switch-mode {
            margin-top: 10px;
            text-align: center;
        }

        .login-card .switch-mode a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        .login-card .switch-mode a:hover {
            text-decoration: underline;
        }

        .ads-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            margin: 20px;
        }
        
        .ad-card {
            background-color: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: calc(100% / 3 - 40px);
            box-sizing: border-box;
            transition: transform 0.3s;
            text-align: center;
        }
        
        .ad-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        }
        
        .ad-card h3 {
            margin-top: 0;
            font-size: 1.5em;
            color: #333;
        }
        
        .ad-card p {
            margin: 5px 0;
            color: #666;
            font-size: 1em;
        }
        
        .ad-card button {
            margin-top: 10px;
            padding: 10px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .ad-card button:hover {
            background-color: #555;
        }
        